/*RESPONSIVE MOBILE FIRST*/

@media (min-width:768px){

    /*NAVBAR*/
    .navbar .col-12{
        text-align: left;
        padding-left: 1.5rem;
    }

    /*HERO*/

    main .col-12{
        padding: 0 3rem;
    }

    .hero h2{
        font-size: 2rem;
    }

    .hero .hide{
        display: inline;
    }

    .hero img{
        width: 100%;
    }

    .hero ul{
        display: flex;
        flex-wrap: wrap;
    }

    .hero ul > *{
        width: 30%;
        white-space: nowrap;
    }


}

@media (min-width:992px){

    /*HERO*/
    
    main .col-12{
        padding: 0 6rem;
    }
    .hero .card{
        display: flex;
    }

    .hero img{
        max-width: 65%;
    }

    .hero .card ul{
        display: block;
    }

}