@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&display=swap');


/*RESET RULES*/

*, *:before, *:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: currentColor;
}

ul,ol{
    list-style: none;
}

img{
    max-width: 100%;
}

html{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/*LAYOUT*/

.container-12{
    max-width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
}

.col-12{
    width: 100%;
    padding: 0 1.5rem;
}

/*TEXT FORMATTING*/

.bold{
    font-weight: bold;
}

/*HEADER*/

.navbar .col-12{
    text-align: center;
    padding: 0.5rem 0;
}

.navbar .navbar-title{
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color:#FF9614;
    text-transform: uppercase;
    font-size: 3rem;
}

/*MAIN*/

main{
    background-color: #F6F5F3;
}

/*HERO*/

.hero{
    padding-top: 1rem;
}

.hero p{
    text-transform: uppercase;
    color: #b19999a6;
    padding-bottom: 0.5rem;
}

.hero h2{
    color: #4E3969;
    padding-bottom: 1rem;
    font-weight: bold;
}

.hero .hide{
    display: none;
}

.hero .card {
    background-color: white;
    box-shadow: 0 1rem 1rem 0 #E3E1E2;
}

.hero h3{
    padding: 1rem 2rem;
}

.hero ul{
    padding-bottom: 2.5rem;
    padding-left: 2rem;
}

.hero ul > *{
    padding: 0.5rem 0;
}

.hero .social-link{
    margin: 30px 0;
}

.hero .social{
    display: flex;
    justify-content: space-between;
}

.hero .social > *{
    padding: 10px 15px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 999px;
}

/*HERO ICON RE-COLOR*/
.fa-facebook{
    color: #1A77F3;
}

.fa-twitter{
    color: #009EFF
}

.fa-instagram{
    color: #DC3DA3
}

.fa-pinterest, .fa-youtube{
    color: #E62222
}

.hero .social-text{
    display: none;
    padding-left: 10px;
    font-size: 0.7rem;
    color: black;
}

.hero .banner{
    display: none;
}

/*CONTENT*/

.main-content h2{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2rem;
}

.main-content .row{
    flex-wrap: wrap;
}

.main-content-img img{
    display: block;
    width:70%;
    margin: 0 auto;
}

.hr-line{
    display: block;
    border: 1px solid #F7972E;
    width: 15%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.main-content p{
    font-size: 1.1rem;
    line-height: 2.5rem;
}
